body {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
}

h1,h2,h3,h4,h5,h6,h7 {
  font-weight: bold;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.25rem; }

div.dataTables_wrapper div.dataTables_paginate {
  text-align: center; 
  margin: 2rem 0; 
}
.paginate_button {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  min-width: 2.5rem;
  display: inline-block;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}

.chart {
  width: 100%;
  position: relative;
}
.tiptext {
  background: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 5px #ccc;
  position: absolute;
  opacity: 0;
  margin-left: 30px;
}

.axis--yScale .tick line,
.grid .tick line { 
  stroke: #ccc;
  mix-blend-mode: multiply;
}

path.domain {
  display: none;
}