body {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
}


div.dataTables_wrapper div.dataTables_paginate {
  text-align: center; 
  margin: 2rem 0; 
}
.paginate_button {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  min-width: 2.5rem;
  display: inline-block;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}
