body {
  font-family: 'Fira Sans', sans-serif;
  color: #330;
  background: #fffff6
}

h1,h2,h3,h4,h5,h6,h7 {
  font-weight: bold;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.25rem; }


input[type="search"] {
  background-color: #f2f2ea;
  margin-bottom: 1rem;
}

div.dataTables_wrapper div.dataTables_length {
  display: inline;
}
#table_filter {
  float: right;
}

div.dataTables_wrapper div.dataTables_paginate {
  text-align: center; 
  margin: 2rem 0; 
}
.paginate_button {
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  min-width: 2.5rem;
  display: inline-block;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
}
.paginate_button.current {
  border-color: #c90;
  background-color: #c90;
  color: #fff;
}
.paginate_button.disabled {
  cursor: auto;
  color: #ddd;
  border-color: #ddd;
}


.chart {
  width: 100%;
  position: relative;
}
.tiptext {
  background: #fff;
  padding: 1rem;
  box-shadow: 1px 1px 5px #ccc;
  position: absolute;
  opacity: 0;
  margin-left: 30px;
  pointer-events: none;
}

.axis--yScale .tick line,
.grid .tick line { 
  stroke: #ddd;
  mix-blend-mode: multiply;
}

path.domain {
  display: none;
}




section {
  margin: 5rem 0;
}
section h2 {
  position: relative;
  margin-bottom: 1.25rem;
}
section h2:before {
  content: '';
  height: 2px;
  width: 75px;
  background: #333;
  position: absolute;
  left: 0px;
  top: -15px;
}

.source {
  color: #888;
  margin-top: .75rem;
  margin-bottom: 1.5rem;
  font-size: .9rem;
}
.source a {
  color: #444;
}




.key {
  text-align: center;
  font-size: .9rem;
  margin-top: .75rem;
}
.key svg {
  margin-left: 2rem;
}
.line {
    fill: none;
    stroke-width: 1.5;
}

.line.Total {  stroke:  #36c; }
.dot.Total {   fill:    #36c; }

.line.Students {  stroke:  #c00; }
.dot.Students {   fill:    #c00; }

.line.Staff {  stroke:  #f48f0f; }
.dot.Staff {   fill:    #f48f0f; }


.line.age_all_ages {  stroke:  #696; stroke-width: 3.5; }
.dot.age_all_ages {   fill:    #696; }

.line.age_0_4 {       stroke:  #55c; }
.dot.age_0_4 {        fill:    #55c; }

.line.age_5_12 {      stroke:  #bc5090; }
.dot.age_5_12 {       fill:    #bc5090; }

.line.age_13_17 {     stroke:  #ff6361; }
.dot.age_13_17 {      fill:    #ff6361; }


.line.age_18_24 {     stroke:  #ffa600; }
.dot.age_18_24 {      fill:    #ffa600; }

rect.cases_all {     fill:  #c00; }
.dot.cases_all {     fill:  #c00; }

rect.cases_school_testing {     fill:  #606; }
.dot.cases_school_testing {     fill:  #606; }

.nobreak {
  white-space: nowrap;
}